/* css3盒子模型 */
* {
  /* 去掉轮播图 Chrome 浏览器的错误警告 */
  box-sizing: border-box;
  touch-action: pan-y;
}
html {
  height: 100%;
  font-size: 14px;
}
/* CSS3 抗锯齿形 让文字显示的更加清晰 */
body {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  color: #333;
  min-width: 1240px;
  font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, '\5B8B\4F53', sans-serif;
}
/* 把我们所有标签的内外边距清零 */
ul,
h1,
h3,
h4,
p,
dl,
dd {
  padding: 0;
  margin: 0;
}
/* em 和 i 斜体的文字不倾斜 */
em,
i {
  font-style: normal;
}
ul {
  list-style: none;
}
/* 去掉li 的小圆点 */
li {
  list-style: none;
}
img {
  max-width: 100%;
  max-height: 100%;
  /* border 0 照顾低版本浏览器 如果 图片外面包含了链接会有边框的问题 */
  border: 0;
  /* 取消图片底侧有空白缝隙的问题 */
  vertical-align: middle;
}
button {
  /* 当我们鼠标经过button 按钮的时候，鼠标变成小手 */
  cursor: pointer;
}
a {
  color: #666;
  text-decoration: none;
  outline: none;
}
a:hover {
  color: #c81623;
}
button,
input {
  /* "\5B8B\4F53" 就是宋体的意思 这样浏览器兼容性比较好 */
  font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, '\5B8B\4F53', sans-serif;
  /* 默认有灰色边框我们需要手动去掉 */
  border: 0;
  outline: none;
}
input[type='text'],
input[type='search'],
input[type='password'],
input[type='checkbox'] {
  padding: 0;
  outline: none;
  border: none;
  -webkit-appearance: none;
}
input[type='text']::placeholder,
input[type='search']::placeholder,
input[type='password']::placeholder,
input[type='checkbox']::placeholder {
  color: #ccc;
}
.hide,
.none {
  display: none;
}
#app {
  background: #f5f5f5;
  /* 用户不能选中 */
  user-select: none;
}
/* 版心容器 */
.container {
  width: 1240px;
  margin: 0 auto;
  position: relative;
}
/* 一行省略 */
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* 二行省略 */
.ellipsis-2 {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
/* 文字自动换行 */
.word-wrap {
  width: 100%;
  overflow: auto;
  white-space: normal;
  word-break: break-word;
}
/* 左浮动 */
.fl {
  float: left;
}
/* 有浮动 */
.fr {
  float: right;
}
/* 清除浮动 */
.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: '.';
  height: 0;
}
.clearfix {
  *zoom: 1;
}
.fade-leave-active {
  position: absolute;
  width: 100%;
  transition: opacity 0.5s 0.2s;
  z-index: 1;
}
.fade-leave-to {
  opacity: 0;
}
